.idea
tests

# builds
**bin
**bin-int
**obj
**build*
**cmake-build-*
**vcpkg_installed

# source assets that ae then embedded into the engine
engine/res

# ignore python builds and environment
*.pyd
*.so
*.egg-info
.*env
.venv*
*__pycache__
dist
dist_repaired
build